# Imports

In [1]:
import pandas as pd

 # Lectura de dades

 Llegim les dades del CSV localitzat al repositori de GitHub.

In [2]:
df = pd.read_csv(
    "https://github.com/fndvit/mds-udg-viz-i-dgpcd-hackathon-25/raw/refs/heads/main/src/dades/font/certificats.csv",
    usecols=[
        "referencia_cadastral",
        "data_entrada",
        "mundissec",
        "zona_climatica",
        "any_construccio",
        "us_edifici",
        "energia_prim_ria_no_renovable",
        "consum_d_energia_final",
        "cost_anual_aproximat_d_energia",
        "vehicle_electric",
        "solar_termica",
        "solar_fotovoltaica",
        "sistema_biomassa",
        "xarxa_districte",
        "energia_geotermica",
        "valor_aillaments",
        "valor_finestres",
        "ventilacio_us_residencial",
        "energia_calefacci",
        "energia_refrigeraci",
        "energia_acs",
        "energia_enllumenament",
        "rehabilitacio_energetica",
        "actuacions_rehabilitacio"
    ],
)

# Canvi de noms de columnes

Canviem els nom d'algunes columnes per fer-los més intel·ligibles.

In [3]:
newcols = {
    "energia_prim_ria_no_renovable": "energia_primaria_no_renovable",
    "consum_d_energia_final": "consum_energia_final",
    "cost_anual_aproximat_d_energia": "cost_anual_aproximat_energia",
    "energia_calefacci": "energia_calefaccio",
    "energia_refrigeraci": "energia_refrigeracio",
}
df = df.rename(columns=newcols)
df

,referencia_cadastral,zona_climatica,any_construccio,us_edifici,energia_primaria_no_renovable,consum_energia_final,cost_anual_aproximat_energia,vehicle_electric,solar_termica,solar_fotovoltaica,...,valor_finestres,energia_calefaccio,energia_refrigeracio,energia_acs,energia_enllumenament,ventilacio_us_residencial,rehabilitacio_energetica,actuacions_rehabilitacio,data_entrada,mundissec
0,8468003DF0986N0001TA,C2,NaN,Habitatge unifamiliar,151.30,0.00,0.00,NaN,NO,NO,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26/01/2016,8.001801e+09
1,8566417DF0986N0001PA,C2,NaN,Habitatge unifamiliar,192.11,30.87,2491.00,NaN,NO,NO,...,4.32,NaN,NaN,NaN,NaN,0.63,NaN,NaN,16/11/2015,8.001801e+09
2,8367801DF0986N0015PX,C2,NaN,Habitatge individual en bloc d'habitatges,323.10,0.00,0.00,NaN,NO,NO,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22/04/2016,8.001801e+09
3,8667613DF0986N0001WA,C2,NaN,Habitatge unifamiliar,31.06,156.79,966.70,NaN,NO,NO,...,3.83,NaN,NaN,NaN,NaN,0.63,NaN,NaN,22/04/2015,8.001801e+09
4,8566002DF0986N0001QA,C2,NaN,Habitatge individual en bloc d'habitatges,247.06,183.12,14.81,NO,NO,NO,...,3.44,172.50,9.68,64.88,0.0,NaN,NO,NaN,02/06/2023,8.001801e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1336920,000300300CF15D0001BI,C3,NaN,Habitatge unifamiliar,237.78,197.02,15.42,NO,NO,NO,...,1.45,159.49,12.48,65.82,0.0,NaN,NO,NaN,07/01/2025,NaN
1336921,3005306DG3430N0048TL,D1,NaN,Habitatge individual en bloc d'habitatges,369.80,189.24,1304.46,NaN,NO,NO,...,3.78,292.75,0.02,77.02,0.0,0.63,NaN,NaN,06/06/2016,NaN
1336922,6728033CG2762N0007PE,D3,NaN,Habitatge individual en bloc d'habitatges,340.45,174.23,27.63,NO,NO,NO,...,0.00,227.85,56.24,56.35,0.0,NaN,NO,NaN,30/09/2019,NaN
1336923,5852701CF6555S0017UL,B3,NaN,Terciario,567.58,380.75,37.72,NO,NO,NO,...,5.70,274.76,140.77,90.15,61.9,NaN,NO,NaN,14/04/2021,NaN
1336924,2603005DG3420S0001HA,D1,NaN,Habitatge unifamiliar,455.13,355.68,30.35,NO,NO,NO,...,3.08,364.90,11.96,78.27,0.0,NaN,NO,NaN,11/08/2022,NaN

# Exploració del dataset

Obtenim el llistat de columnes i de valors no nulls de cadascuna.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1336925 entries, 0 to 1336924
Data columns (total 24 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   referencia_cadastral           1335859 non-null  object
 1   zona_climatica                 1308447 non-null  object
 2   any_construccio                323 non-null      float64
 3   us_edifici                     1336925 non-null  object
 4   energia_primaria_no_renovable  1336795 non-null  float64
 5   consum_energia_final           1308439 non-null  float64
 6   cost_anual_aproximat_energia   1308439 non-null  float64
 7   vehicle_electric               976758 non-null   object
 8   solar_termica                  1336925 non-null  object
 9   solar_fotovoltaica             1336925 non-null  object
 10  sistema_biomassa               1323686 non-null  object
 11  xarxa_districte                976758 non-null   object
 12  energia_geotermica             1336873 non-null  object
 13  valor_aillaments               1308439 non-null  float64
 14  valor_finestres                1308439 non-null  float64
 15  energia_calefaccio             1262802 non-null  float64
 16  energia_refrigeracio           1262683 non-null  float64
 17  energia_acs                    1262802 non-null  float64
 18  energia_enllumenament          1244495 non-null  float64
 19  ventilacio_us_residencial      424294 non-null   float64
 20  rehabilitacio_energetica       959377 non-null   object
 21  actuacions_rehabilitacio       17112 non-null    object
 22  data_entrada                   1336925 non-null  object
 23  mundissec                      1317571 non-null  float64
dtypes: float64(12), object(12)
memory usage: 244.8+ MB

Per a les variables categòriques, estudiem els valors únics per veure si hi ha columnes identitat (amb valors únics), columnes amb valors inconsistents (valors repetits o semblants per canvis idiomàtics o de picatge)...

In [5]:
print(f"zona_climatica: {df['zona_climatica'].unique()}")
print(f"any_construccio: {df['any_construccio'].unique()}")
print(f"us_edifici: {df['us_edifici'].unique()}")
print(f"vehicle_electric: {df['vehicle_electric'].unique()}")
print(f"solar_termica: {df['solar_termica'].unique()}")
print(f"solar_fotovoltaica: {df['solar_fotovoltaica'].unique()}")
print(f"sistema_biomassa: {df['sistema_biomassa'].unique()}")
print(f"xarxa_districte: {df['xarxa_districte'].unique()}")
print(f"energia_geotermica: {df['energia_geotermica'].unique()}")
print(f"rehabilitacio_energetica: {df['rehabilitacio_energetica'].unique()}")

zona_climatica: ['C2' 'D2' 'D1' nan 'C3' 'E1' 'B3' 'D3']
any_construccio: [  nan 1969. 2017. 2004. 1977. 2009. 1828. 1819. 1979. 1925. 1900. 1930.
 1920. 1972. 1995. 1962. 1970. 1980. 1967. 2007. 1994. 1965. 1964. 1885.
 1922. 1960. 1963. 1958. 2001. 1952. 1933. 1976. 1934. 1971. 1985. 2006.
 1975. 1926. 2003. 1978. 1955. 1981. 1997. 1974. 1983. 1993. 1996. 2002.
 2005. 1992. 1961. 1968. 1940. 2012. 1957. 1890. 1998. 1990. 2011. 1987.
 1936. 1400. 2015. 2000. 1982. 1959. 1989. 1914. 1973. 1999. 1986. 1950.
 1944. 1966. 2010. 1910. 1988. 2008. 1915. 2013. 1991.]
us_edifici: ['Habitatge unifamiliar' "Habitatge individual en bloc d'habitatges"
 'Terciari' "Bloc d'habitatges plurifamiliar" 'Vivienda unifamiliar'
 'Vivienda individual en bloque de viviendas' 'Terciario'
 "Bloc d'habitatges" 'Bloque de viviendas'
 'Bloque de viviendas plurifamiliar' 'Habitatge Unifamiliar']
vehicle_electric: [nan 'NO' 'SI']
solar_termica: ['NO']
solar_fotovoltaica: ['NO']
sistema_biomassa: ['NO' nan 'SI']
xarxa_districte: [nan 'NO' 'SI']
energia_geotermica: ['NO' 'SI' nan]
rehabilitacio_energetica: [nan 'NO' 'SI']

# Tractament de les dades

Observem que hi ha columnes de valor únic (`solar_termica`,`solar_fotovoltaica`).

Observem també anomalies en la columna `us_edifici`, amb tota una serie de valors equivalents comptats com a diferents per canvis ideomàtics o de picatge. N'arreglem els valors.

L'`any_construccio` es llegeix com a `float`, caldria converir-ho a `int`. Però com que hi ha `nan`s, no admet la transformació. Fem un `fillna` per assignar-li un valor i canviem el tipus de la columna.

Per altra banda, `data_entrada` és de tipus object, convé convertir-ho a datetime.

In [6]:
# df.drop(columns=['solar_termica', 'solar_fotovoltaica'], inplace=True)
df.loc[(df['us_edifici']=='Vivienda unifamiliar') | (df['us_edifici']=='Habitatge Unifamiliar'), "us_edifici"] = "Habitatge unifamiliar"
df.loc[df['us_edifici']=='Vivienda individual en bloque de viviendas', "us_edifici"] = "Habitatge individual en bloc d'habitatges"
df.loc[df['us_edifici']=='Terciario',"us_edifici"] = 'Terciari'
df.loc[df['us_edifici']=='Bloque de viviendas',"us_edifici"] = "Bloc d'habitatges"
df.loc[df['us_edifici']=='Bloque de viviendas plurifamiliar' ,"us_edifici"] = "Bloc d'habitatges plurifamiliar"
df['any_construccio'] = df['any_construccio'].fillna(0).astype(int)
df['data_entrada'] = pd.to_datetime(df['data_entrada'], dayfirst=True)

Codifiquem les variables binàries (0: NO, 1: SI)

In [7]:
df.loc[df['zona_climatica'] == "SI",'zona_climatica'] = 1
df.loc[df['zona_climatica'] == "NO",'zona_climatica'] = 0
df.loc[df['any_construccio'] == "SI",'any_construccio'] = 1
df.loc[df['any_construccio'] == "NO",'any_construccio'] = 0
df.loc[df['us_edifici'] == "SI",'us_edifici'] = 1
df.loc[df['us_edifici'] == "NO",'us_edifici'] = 0
df.loc[df['vehicle_electric'] == "SI",'vehicle_electric'] = 1
df.loc[df['vehicle_electric'] == "NO",'vehicle_electric'] = 0
df.loc[df['solar_termica'] == "SI",'solar_termica'] = 1
df.loc[df['solar_termica'] == "NO",'solar_termica'] = 0
df.loc[df['solar_fotovoltaica'] == "SI",'solar_fotovoltaica'] = 1
df.loc[df['solar_fotovoltaica'] == "NO",'solar_fotovoltaica'] = 0
df.loc[df['sistema_biomassa'] == "SI",'sistema_biomassa'] = 1
df.loc[df['sistema_biomassa'] == "NO",'sistema_biomassa'] = 0
df.loc[df['xarxa_districte'] == "SI",'xarxa_districte'] = 1
df.loc[df['xarxa_districte'] == "NO",'xarxa_districte'] = 0
df.loc[df['energia_geotermica'] == "SI",'energia_geotermica'] = 1
df.loc[df['energia_geotermica'] == "NO",'energia_geotermica'] = 0
df.loc[df['rehabilitacio_energetica'] == "SI",'rehabilitacio_energetica'] = 1
df.loc[df['rehabilitacio_energetica'] == "NO",'rehabilitacio_energetica'] = 0

In [8]:
print(f"zona_climatica: {df['zona_climatica'].unique()}")
print(f"any_construccio: {df['any_construccio'].unique()}")
print(f"us_edifici: {df['us_edifici'].unique()}")
print(f"vehicle_electric: {df['vehicle_electric'].unique()}")
print(f"solar_termica: {df['solar_termica'].unique()}")
print(f"solar_fotovoltaica: {df['solar_fotovoltaica'].unique()}")
print(f"sistema_biomassa: {df['sistema_biomassa'].unique()}")
print(f"xarxa_districte: {df['xarxa_districte'].unique()}")
print(f"energia_geotermica: {df['energia_geotermica'].unique()}")
print(f"rehabilitacio_energetica: {df['rehabilitacio_energetica'].unique()}")

zona_climatica: ['C2' 'D2' 'D1' nan 'C3' 'E1' 'B3' 'D3']
any_construccio: [   0 1969 2017 2004 1977 2009 1828 1819 1979 1925 1900 1930 1920 1972
 1995 1962 1970 1980 1967 2007 1994 1965 1964 1885 1922 1960 1963 1958
 2001 1952 1933 1976 1934 1971 1985 2006 1975 1926 2003 1978 1955 1981
 1997 1974 1983 1993 1996 2002 2005 1992 1961 1968 1940 2012 1957 1890
 1998 1990 2011 1987 1936 1400 2015 2000 1982 1959 1989 1914 1973 1999
 1986 1950 1944 1966 2010 1910 1988 2008 1915 2013 1991]
us_edifici: ['Habitatge unifamiliar' "Habitatge individual en bloc d'habitatges"
 'Terciari' "Bloc d'habitatges plurifamiliar" "Bloc d'habitatges"]
vehicle_electric: [nan 0 1]
solar_termica: [0]
solar_fotovoltaica: [0]
sistema_biomassa: [0 nan 1]
xarxa_districte: [nan 0 1]
energia_geotermica: [0 1 nan]
rehabilitacio_energetica: [nan 0 1]

Hi ha un error en la generació dels codis de la columna `mundissec`. Per com es generen, sobra un dels caràcters i, com a resultat de lectura del dataset, s'assigna el tipus float. Per tant, fem el següent:
* Transformem els nombres a string, assegurant-nos que tenen el format correcte.
* Eliminem el dígit sobrant de cada codi no null.

In [9]:
df['mundissec'] = df['mundissec'].apply(lambda x: ("%.0f" % x).zfill(11) if not pd.isna(x) else x)
df['mundissec'] = df['mundissec'].apply(lambda x: x[:5] + x[6:] if not pd.isna(x) else x)

Per poder fer l'operació de merge amb altres datasets, convé tenir l'any. L'obtenim a partir de la variable `data_entrada`.

In [10]:
df['any'] = df['data_entrada'].dt.year

Acabem d'assegurar-nos que tot està correcte.

In [11]:
print(df.shape)
df.info()

(1336925, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1336925 entries, 0 to 1336924
Data columns (total 25 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   referencia_cadastral           1335859 non-null  object
 1   zona_climatica                 1308447 non-null  object
 2   any_construccio                1336925 non-null  int64
 3   us_edifici                     1336925 non-null  object
 4   energia_primaria_no_renovable  1336795 non-null  float64
 5   consum_energia_final           1308439 non-null  float64
 6   cost_anual_aproximat_energia   1308439 non-null  float64
 7   vehicle_electric               976758 non-null   object
 8   solar_termica                  1336925 non-null  object
 9   solar_fotovoltaica             1336925 non-null  object
 10  sistema_biomassa               1323686 non-null  object
 11  xarxa_districte                976758 non-null   object
 12  energia_geotermica             1336873 non-null  object
 13  valor_aillaments               1308439 non-null  float64
 14  valor_finestres                1308439 non-null  float64
 15  energia_calefaccio             1262802 non-null  float64
 16  energia_refrigeracio           1262683 non-null  float64
 17  energia_acs                    1262802 non-null  float64
 18  energia_enllumenament          1244495 non-null  float64
 19  ventilacio_us_residencial      424294 non-null   float64
 20  rehabilitacio_energetica       959377 non-null   object
 21  actuacions_rehabilitacio       17112 non-null    object
 22  data_entrada                   1336925 non-null  datetime64[ns]
 23  mundissec                      1317571 non-null  object
 24  any                            1336925 non-null  int32
dtypes: datetime64[ns](1), float64(10), int32(1), int64(1), object(12)
memory usage: 249.9+ MB

# Exportació

Guardem el resultat de la neteja en un CSV nou.

In [12]:
df.to_csv("certificats-filtrat-raposos.csv", index=False)

# Merge amb el dataset de l'INE

Per un altre costat hem preparat un dataset amb dades de l'INE i convé fer un merge amb les nostres dades actuals per poder fer-lo servir. Comencem llegint el CSV:

In [13]:
df_ine = pd.read_csv("./dataset_ine.csv")
df_ine

,codi_districte,codi_postal,poblacio,year,renta_neta_mitja_por_persona,renta_neta_mitja_por_hogar,renta_mitja_por_unitat_consum,renta_mediana_por_unitat_consum,renta_bruta_mitja_por_persona,renta_bruta_mitja_por_hogar,...,renta_bruta_mitja_por_persona_fuente_otros_ingresos,indice_gini,distribucion_renta_p80_p20,edad_media_poblacion,prcnt_poblacion_menor_edad,prcnt_poblacion_mas_65_anos,tamano_medio_hogar,prcnt_hogares_unipersonales,poblacion_habitantes,prcnt_poblacion_espanola
0,1700101001,17001,Agullana,2022,19392.0,50407.0,28845.0,19950.0,27842.0,72374.0,...,11688.0,30.8,2.7,44.0,19.1,20.6,2.6,26.3,921.0,83.8
1,1700101001,17001,Agullana,2021,15642.0,39854.0,23693.0,19250.0,20853.0,53129.0,...,5391.0,30.7,2.5,43.4,19.3,20.2,2.5,29.3,893.0,83.5
2,1700101001,17001,Agullana,2020,13498.0,34421.0,20669.0,17850.0,16650.0,42457.0,...,2098.0,30.8,2.6,43.6,18.1,21.2,2.5,29.4,888.0,82.6
3,1700101001,17001,Agullana,2019,14657.0,36909.0,21907.0,17850.0,18568.0,46757.0,...,3981.0,30.9,2.4,43.7,18.3,21.2,2.5,28.5,858.0,83.1
4,1700101001,17001,Agullana,2018,14209.0,35371.0,20930.0,17150.0,17936.0,44647.0,...,4181.0,31.8,2.4,43.9,18.1,21.8,2.5,31.6,830.0,84.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41179,2591301001,25913,Riu,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41180,2591301001,25913,Riu,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41181,2591301001,25913,Riu,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41182,2591301001,25913,Riu,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41183,2591301001,25913,Riu,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(df_ine.shape)
df_ine.info()

(41184, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41184 entries, 0 to 41183
Data columns (total 24 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   codi_districte                                           41184 non-null  int64
 1   codi_postal                                              41184 non-null  int64
 2   poblacio                                                 41184 non-null  object
 3   year                                                     41184 non-null  int64
 4   renta_neta_mitja_por_persona                             40290 non-null  float64
 5   renta_neta_mitja_por_hogar                               40290 non-null  float64
 6   renta_mitja_por_unitat_consum                            40158 non-null  float64
 7   renta_mediana_por_unitat_consum                          40158 non-null  float64
 8   renta_bruta_mitja_por_persona                            40288 non-null  float64
 9   renta_bruta_mitja_por_hogar                              40288 non-null  float64
 10  renta_bruta_mitja_por_persona_fuente_salario             40107 non-null  float64
 11  renta_bruta_mitja_por_persona_fuente_pensiones           40107 non-null  float64
 12  renta_bruta_mitja_por_persona_fuente_desempleo           40107 non-null  float64
 13  renta_bruta_mitja_por_persona_fuente_otras_prestaciones  40107 non-null  float64
 14  renta_bruta_mitja_por_persona_fuente_otros_ingresos      40107 non-null  float64
 15  indice_gini                                              40133 non-null  float64
 16  distribucion_renta_p80_p20                               40138 non-null  float64
 17  edad_media_poblacion                                     40309 non-null  float64
 18  prcnt_poblacion_menor_edad                               40309 non-null  float64
 19  prcnt_poblacion_mas_65_anos                              40309 non-null  float64
 20  tamano_medio_hogar                                       40309 non-null  float64
 21  prcnt_hogares_unipersonales                              40309 non-null  float64
 22  poblacion_habitantes                                     40309 non-null  float64
 23  prcnt_poblacion_espanola                                 40306 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 7.5+ MB

`codi_districte` equival al codi `mundissec` de l'altre dataset. Ens convé passar-lo a string per poder comparar amb major facilitat.

In [15]:
df_ine['codi_districte'] = df_ine['codi_districte'].apply(lambda x: f"{x:010}")
df_ine

,codi_districte,codi_postal,poblacio,year,renta_neta_mitja_por_persona,renta_neta_mitja_por_hogar,renta_mitja_por_unitat_consum,renta_mediana_por_unitat_consum,renta_bruta_mitja_por_persona,renta_bruta_mitja_por_hogar,...,renta_bruta_mitja_por_persona_fuente_otros_ingresos,indice_gini,distribucion_renta_p80_p20,edad_media_poblacion,prcnt_poblacion_menor_edad,prcnt_poblacion_mas_65_anos,tamano_medio_hogar,prcnt_hogares_unipersonales,poblacion_habitantes,prcnt_poblacion_espanola
0,1700101001,17001,Agullana,2022,19392.0,50407.0,28845.0,19950.0,27842.0,72374.0,...,11688.0,30.8,2.7,44.0,19.1,20.6,2.6,26.3,921.0,83.8
1,1700101001,17001,Agullana,2021,15642.0,39854.0,23693.0,19250.0,20853.0,53129.0,...,5391.0,30.7,2.5,43.4,19.3,20.2,2.5,29.3,893.0,83.5
2,1700101001,17001,Agullana,2020,13498.0,34421.0,20669.0,17850.0,16650.0,42457.0,...,2098.0,30.8,2.6,43.6,18.1,21.2,2.5,29.4,888.0,82.6
3,1700101001,17001,Agullana,2019,14657.0,36909.0,21907.0,17850.0,18568.0,46757.0,...,3981.0,30.9,2.4,43.7,18.3,21.2,2.5,28.5,858.0,83.1
4,1700101001,17001,Agullana,2018,14209.0,35371.0,20930.0,17150.0,17936.0,44647.0,...,4181.0,31.8,2.4,43.9,18.1,21.8,2.5,31.6,830.0,84.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41179,2591301001,25913,Riu,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41180,2591301001,25913,Riu,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41181,2591301001,25913,Riu,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41182,2591301001,25913,Riu,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41183,2591301001,25913,Riu,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Fem el merge d'ambdós datasets (left join) a partir de `mundissec` i `codi_districte` i `any` i `year`.

In [16]:
df_fusionat = df.merge(df_ine, how='left', left_on=['mundissec', 'any'], right_on=['codi_districte', 'year'])

Comprovem el resultat de la fusió.

In [17]:
df_fusionat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1336925 entries, 0 to 1336924
Data columns (total 49 columns):
 #   Column                                                   Non-Null Count    Dtype
---  ------                                                   --------------    -----
 0   referencia_cadastral                                     1335859 non-null  object
 1   zona_climatica                                           1308447 non-null  object
 2   any_construccio                                          1336925 non-null  int64
 3   us_edifici                                               1336925 non-null  object
 4   energia_primaria_no_renovable                            1336795 non-null  float64
 5   consum_energia_final                                     1308439 non-null  float64
 6   cost_anual_aproximat_energia                             1308439 non-null  float64
 7   vehicle_electric                                         976758 non-null   object
 8   solar_termica                                            1336925 non-null  object
 9   solar_fotovoltaica                                       1336925 non-null  object
 10  sistema_biomassa                                         1323686 non-null  object
 11  xarxa_districte                                          976758 non-null   object
 12  energia_geotermica                                       1336873 non-null  object
 13  valor_aillaments                                         1308439 non-null  float64
 14  valor_finestres                                          1308439 non-null  float64
 15  energia_calefaccio                                       1262802 non-null  float64
 16  energia_refrigeracio                                     1262683 non-null  float64
 17  energia_acs                                              1262802 non-null  float64
 18  energia_enllumenament                                    1244495 non-null  float64
 19  ventilacio_us_residencial                                424294 non-null   float64
 20  rehabilitacio_energetica                                 959377 non-null   object
 21  actuacions_rehabilitacio                                 17112 non-null    object
 22  data_entrada                                             1336925 non-null  datetime64[ns]
 23  mundissec                                                1317571 non-null  object
 24  any                                                      1336925 non-null  int32
 25  codi_districte                                           1028096 non-null  object
 26  codi_postal                                              1028096 non-null  float64
 27  poblacio                                                 1028096 non-null  object
 28  year                                                     1028096 non-null  float64
 29  renta_neta_mitja_por_persona                             1014813 non-null  float64
 30  renta_neta_mitja_por_hogar                               1014813 non-null  float64
 31  renta_mitja_por_unitat_consum                            1013731 non-null  float64
 32  renta_mediana_por_unitat_consum                          1013731 non-null  float64
 33  renta_bruta_mitja_por_persona                            1014813 non-null  float64
 34  renta_bruta_mitja_por_hogar                              1014813 non-null  float64
 35  renta_bruta_mitja_por_persona_fuente_salario             1012880 non-null  float64
 36  renta_bruta_mitja_por_persona_fuente_pensiones           1012880 non-null  float64
 37  renta_bruta_mitja_por_persona_fuente_desempleo           1012880 non-null  float64
 38  renta_bruta_mitja_por_persona_fuente_otras_prestaciones  1012880 non-null  float64
 39  renta_bruta_mitja_por_persona_fuente_otros_ingresos      1012880 non-null  float64
 40  indice_gini                                              1012952 non-null  float64
 41  distribucion_renta_p80_p20                               1013389 non-null  float64
 42  edad_media_poblacion                                     1014902 non-null  float64
 43  prcnt_poblacion_menor_edad                               1014902 non-null  float64
 44  prcnt_poblacion_mas_65_anos                              1014902 non-null  float64
 45  tamano_medio_hogar                                       1014902 non-null  float64
 46  prcnt_hogares_unipersonales                              1014902 non-null  float64
 47  poblacion_habitantes                                     1014902 non-null  float64
 48  prcnt_poblacion_espanola                                 1014901 non-null  float64
dtypes: datetime64[ns](1), float64(32), int32(1), int64(1), object(14)
memory usage: 494.7+ MB

Arreglem els tipus de `year` i `codi_postal`.

In [18]:
df_fusionat['year'] = df_fusionat['year'].fillna(0).astype(int)
df_fusionat['codi_postal'] = df_fusionat['codi_postal'].fillna(0).astype(int)

In [19]:
print(df_fusionat.shape)
df_fusionat.info()

(1336925, 49)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1336925 entries, 0 to 1336924
Data columns (total 49 columns):
 #   Column                                                   Non-Null Count    Dtype
---  ------                                                   --------------    -----
 0   referencia_cadastral                                     1335859 non-null  object
 1   zona_climatica                                           1308447 non-null  object
 2   any_construccio                                          1336925 non-null  int64
 3   us_edifici                                               1336925 non-null  object
 4   energia_primaria_no_renovable                            1336795 non-null  float64
 5   consum_energia_final                                     1308439 non-null  float64
 6   cost_anual_aproximat_energia                             1308439 non-null  float64
 7   vehicle_electric                                         976758 non-null   object
 8   solar_termica                                            1336925 non-null  object
 9   solar_fotovoltaica                                       1336925 non-null  object
 10  sistema_biomassa                                         1323686 non-null  object
 11  xarxa_districte                                          976758 non-null   object
 12  energia_geotermica                                       1336873 non-null  object
 13  valor_aillaments                                         1308439 non-null  float64
 14  valor_finestres                                          1308439 non-null  float64
 15  energia_calefaccio                                       1262802 non-null  float64
 16  energia_refrigeracio                                     1262683 non-null  float64
 17  energia_acs                                              1262802 non-null  float64
 18  energia_enllumenament                                    1244495 non-null  float64
 19  ventilacio_us_residencial                                424294 non-null   float64
 20  rehabilitacio_energetica                                 959377 non-null   object
 21  actuacions_rehabilitacio                                 17112 non-null    object
 22  data_entrada                                             1336925 non-null  datetime64[ns]
 23  mundissec                                                1317571 non-null  object
 24  any                                                      1336925 non-null  int32
 25  codi_districte                                           1028096 non-null  object
 26  codi_postal                                              1336925 non-null  int64
 27  poblacio                                                 1028096 non-null  object
 28  year                                                     1336925 non-null  int64
 29  renta_neta_mitja_por_persona                             1014813 non-null  float64
 30  renta_neta_mitja_por_hogar                               1014813 non-null  float64
 31  renta_mitja_por_unitat_consum                            1013731 non-null  float64
 32  renta_mediana_por_unitat_consum                          1013731 non-null  float64
 33  renta_bruta_mitja_por_persona                            1014813 non-null  float64
 34  renta_bruta_mitja_por_hogar                              1014813 non-null  float64
 35  renta_bruta_mitja_por_persona_fuente_salario             1012880 non-null  float64
 36  renta_bruta_mitja_por_persona_fuente_pensiones           1012880 non-null  float64
 37  renta_bruta_mitja_por_persona_fuente_desempleo           1012880 non-null  float64
 38  renta_bruta_mitja_por_persona_fuente_otras_prestaciones  1012880 non-null  float64
 39  renta_bruta_mitja_por_persona_fuente_otros_ingresos      1012880 non-null  float64
 40  indice_gini                                              1012952 non-null  float64
 41  distribucion_renta_p80_p20                               1013389 non-null  float64
 42  edad_media_poblacion                                     1014902 non-null  float64
 43  prcnt_poblacion_menor_edad                               1014902 non-null  float64
 44  prcnt_poblacion_mas_65_anos                              1014902 non-null  float64
 45  tamano_medio_hogar                                       1014902 non-null  float64
 46  prcnt_hogares_unipersonales                              1014902 non-null  float64
 47  poblacion_habitantes                                     1014902 non-null  float64
 48  prcnt_poblacion_espanola                                 1014901 non-null  float64
dtypes: datetime64[ns](1), float64(30), int32(1), int64(3), object(14)
memory usage: 494.7+ MB

Exportem el dataset resultant a un fitxer CSV.

In [20]:
df_fusionat.to_csv('certificats-ine-raposos.csv', index=False)